.ed{
    text-decoration: none;
    color: black;
}
.desktop1-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .desktop1-desktop1 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
    margin: 0px;
  }
  .desktop1-image1 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1024px;
    position: absolute;
  }
  .desktop1-rectangle1 {
    background-color: black;
    opacity: 0.7;
    top: -1px;
    left: 0px;
    width: 1440px;
    height: 121px;
    position: absolute;
  }
  .desktop1-group9 {
    top: 182px;
    left: 27px;
    width: 1387px;
    height: 271px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop1-rectangle2 {
    background-color: D9D9D9;
    opacity: 0.7;
    top: 0px;
    left: 0px;
    width: 1387px;
    height: 246px;
    position: absolute;
    border-radius: 7px;
  }
  .desktop1-text {
    top: 40px;
    left: 39px;
    color: rgba(0, 0, 0, 1);
    width: 1316px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Timmana;
    font-weight: 400;
    line-height: 38.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-group1 {
    border-radius: 14px;
    top: 221px;
    left: 1088px;
    width: 248px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: rgba(0, 0, 0, 1);
  }
  .desktop1-text02 {
    top: 5px;
    left: 23px;
    color: rgb(255, 255, 255);
    width: 135px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 38.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-arrow1 {
    top: 1px;
    flex: 1;
    left: 1px;
    width: 48px;
    height: 1px;
    position: absolute;
  }
  .desktop1-group2 {
    top: 11px;
    left: 55px;
    width: 109px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop1-ellipse1 {
    top: 0px;
    left: 0px;
    width: 109px;
    height: 97px;
    position: absolute;
  }
  .desktop1-text03 {
    top: 11.884614944458008px;
    left: 7.425992965698242px;
    color: rgba(0, 0, 0, 1);
    width: 68px;
    height: auto;
    position: absolute;
    font-size: 67px;
    font-style: Regular;
    text-align: left;
    font-family: Island Moments;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-text04 {
    top: 41px;
    color: rgba(0, 0, 0, 1);
    right: 7px;
    width: 42px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Mervale Script;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-ellipse12 {
    top: 29px;
    left: 1326px;
    width: 55px;
    height: 57px;
    position: absolute;
    border-color: rgba(255, 208, 42, 0);
    border-style: solid;
    border-width: 1px;
  }
  .desktop1-userfill {
    top: 36px;
    left: 1333px;
    width: 41px;
    height: 46px;
    position: absolute;
  }
  .desktop1-group8 {
    top: 29px;
    left: 1234px;
    width: 61px;
    height: 57px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop1-ellipse11 {
    top: 0px;
    left: 0px;
    width: 61px;
    height: 57px;
    position: absolute;
    border-color: rgba(255, 208, 42, 0);
    border-style: solid;
    border-width: 1px;
  }
  .desktop1-text06 {
    top: 6px;
    left: 19px;
    color: rgba(0, 0, 0, 1);
    width: 23px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-group13 {
    top: 494px;
    left: 33px;
    width: 1376px;
    height: 478px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop1-rectangle3 {
    background-color: 000000;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    width: 422px;
    height: 478px;
    position: absolute;
    border-radius: 13px;
  }
  .desktop1-rectangle5 {
    background-color: 000000;
    opacity: 0.6;
    top: 0px;
    left: 961px;
    width: 415px;
    height: 478px;
    position: absolute;
    border-radius: 13px;
  }
  .desktop1-rectangle6 {
    background-color: 000000;
    opacity: 0.6;
    top: 0px;
    left: 476px;
    width: 431px;
    height: 478px;
    position: absolute;
    border-radius: 13px;
  }
  .desktop1-image2 {
    top: 31px;
    left: 24px;
    width: 374px;
    height: 244px;
    position: absolute;
    border-radius: 13px;
  }
  .desktop1-image3 {
    top: 31px;
    left: 502px;
    width: 379px;
    height: 244px;
    position: absolute;
    border-radius: 13px;
  }
  .desktop1-image4 {
    top: 31px;
    left: 985px;
    width: 367px;
    height: 244px;
    position: absolute;
    border-radius: 13px;
  }
  .desktop1-text07 {
    top: 311px;
    left: 67px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 52.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-text09 {
    top: 311px;
    left: 501px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 52.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-text11 {
    top: 311px;
    left: 1048px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 52.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-group10 {
    border-radius: 14px;
    top: 394px;
    left: 97px;
    width: 228px;
    height: 53px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop1-text13 {
    left: 17px;
    color: rgba(0, 0, 0, 1);
    width: 149px;
    bottom: 0px;
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 52.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-arrow2 {
    top: 26px;
    left: 163.97500610351562px;
    width: 40px;
    height: 1px;
    position: absolute;
  }
  .desktop1-group11 {
    border-radius: 14px;
    top: 394px;
    left: 574px;
    width: 228px;
    height: 53px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop1-text15 {
    left: 17px;
    color: rgba(0, 0, 0, 1);
    width: 149px;
    bottom: 0px;
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 52.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-arrow21 {
    top: 26px;
    left: 163.97500610351562px;
    width: 40px;
    height: 1px;
    position: absolute;
  }
  .desktop1-group12 {
    border-radius: 14px;
    top: 394px;
    left: 1055px;
    width: 228px;
    height: 53px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop1-text17 {
    left: 17px;
    color: rgba(0, 0, 0, 1);
    width: 149px;
    bottom: 0px;
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 52.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-arrow22 {
    top: 26px;
    left: 163.97500610351562px;
    width: 40px;
    height: 1px;
    position: absolute;
  }
  .desktop1-text19 {
    top: 39px;
    left: 187px;
    color: rgba(255, 208, 42, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Regular;
    text-align: left;
    font-family: Bad Script;
    font-weight: 400;
    line-height: 52.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  